[defaults]
inventory = inventory 
host_key_checking = false
## log_path = ./ansible.log     //it will create log files 
## timeout = 15

[privilege_escalation]
become = yes 
become_method = sudo 
become_user = root
become_pass = false 


[ssh_connection]
retries = 2 
